<a href="https://colab.research.google.com/github/rrical/Task-1-Get-Started-with-Data-Science-and-Python/blob/master/IntroductionToPythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
the_world_is_flat = True
if the_world_is_flat:
  print("Be careful not to fall off!")

# -*- coding: encoding -*-

# -*- coding: cp1252 -*-

#!/usr/bin/env python3
# -*- coding: cp1252 -*-

Be careful not to fall off!

In [0]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(spam)
print(text)

1
# This is not a comment because it's inside quotes.

In [0]:
s=2+2
mr=50-5*6
mrd=(50-5*6)/4
d=8 / 5  # division always returns a floating point number
print(s)
print(mr)
print(mrd)
print(d)

4
20
5.0
1.6

In [0]:
a=17 / 3  # classic division returns a float
b=17 // 3  # floor division discards the fractional part
c=17 % 3  # the % operator returns the remainder of the division
d= 5 * 3 + 2  # result * divisor + remainder
print(a)
print(b)
print(c)
print(d)

5.666666666666667
5
2
17

In [0]:
a=5 ** 2  # 5 squared
b=2 ** 7  # 2 to the power of 7
print(a)
print(b)

25
128

In [0]:
width = 20
height = 5 * 9
width * height

900

In [0]:
n=""  # try to access an undefined variable

In [0]:
4 * 3.75 - 1

14.0

In [0]:
tax = 12.5 / 100
price = 100.50
price * tax
price + _
round(_, 2)

113.06

In [0]:
print('spam eggs')  # single quotes
print('doesn\'t')  # use \' to escape the single quote...
print("doesn't")  # ...or use double quotes instead
print('"Yes," they said.')
print("\"Yes,\" they said.")
print('"Isn\'t," they said.')

spam eggs
doesn't
doesn't
"Yes," they said.
"Yes," they said.
"Isn't," they said.

In [0]:
print('C:\some\name')  # here \n means newline!
print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [0]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [0]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [0]:
'Py' 'thon'

'Python'

In [0]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [0]:
prefix = 'Py'
#prefix 'thon'  # can't concatenate a variable and a string literal
prefix + 'thon'
#('un' * 3) 'ium'
('un' * 3) + 'ium'

'unununium'

In [0]:
word = 'Python'
word[0]  # character in position 0
word[5]  # character in position 5

word[-1]  # last character
word[-2]  # second-last character
word[-6]

word[0:2]  # characters from position 0 (included) to 2 (excluded)
word[2:5]  # characters from position 2 (included) to 5 (excluded)

word[:2]   # character from the beginning to position 2 (excluded)
word[4:]   # characters from position 4 (included) to the end
word[-2:]  # characters from the second-last (included) to the end

#word[42]  # the word only has 6 characters

word[4:42]
word[42:]

#word[0] = 'J'
#word[2:] = 'py'
'J' + word[1:]
word[:2] + 'py'

'Pypy'

In [0]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [0]:
squares = [1, 4, 9, 16, 25]
squares

squares[0]  # indexing returns the item
squares[-1]
squares[-3:]  # slicing returns a new list

squares[:]

squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!
cubes[3] = 64  # replace the wrong value
cubes

cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [0]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters
# now remove them
letters[2:5] = []
letters
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

letters = ['a', 'b', 'c', 'd']
len(letters)

a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
x[0]
x[0][1]

'b'

In [0]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
  print(a)
  a, b = b, a+b

0
1
1
2
3
5
8

In [7]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [9]:
a, b = 0, 1
while a < 1000:
  print(a, end=',')
  a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [15]:
x = int(input("Please enter an integer: "))
if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

Please enter an integer: 42
More

In [17]:
# Measure some strings:
words = ['cat','window','defenestrate']
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [0]:
# Strategy: Iterate over a copy
for user, status in users.copy().items():
  if status == 'inactive':
    del users[user]    

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [51]:
for i in range(5):
  print(i)

for i in range(5, 10):
  print(i)

for i in range(0, 10, 3):
  print(i)

for i in range(-10, -100, -30):
  print(i)

0
1
2
3
4
5
6
7
8
9
0
3
6
9
-10
-40
-70

In [52]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [57]:
print(range(10))
print(range(0, 10))

print(sum(range(4)))  # 0 + 1 + 2 + 3

print(list(range(4)))

range(0, 10)
range(0, 10)
6
[0, 1, 2, 3]

In [58]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
    else:
      # loop fell through without finding a factor
      print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [59]:
for num in range(2, 10):
  if num % 2 == 0:
    print("Found an even number", num)
    continue
  print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [63]:
while True:
  pass  # Busy-wait for keyboard interrupt (Ctrl+C)
class MyEmptyClass:
  pass
def initlog(*args):
  pass   # Remember to implement this!

KeyboardInterrupt: ignored

In [65]:
def fib(n):    # write Fibonacci series up to n
  """Print a Fibonacci series up to n."""
  a, b = 0, 1
  while a < n:
    print(a, end=' ')
    a, b = b, a+b
    print()
# Now call the function we just defined:
fib(2000)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [68]:
fib
f = fib
f(100)

fib(0)
print(fib(0))

0
1
1
2
3
5
8
13
21
34
55
89
None

In [73]:
def fib2(n):  # return Fibonacci series up to n
  """Return a list containing the Fibonacci series up to n."""
  result = []
  a, b = 0, 1
  while a < n:
    result.append(a)    # see below
    a, b = b, a+b
  return result
f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [82]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
  while True:
    ok = input(prompt)
    if ok in ('y', 'ye', 'yes'):
      return True
    if ok in ('n', 'no', 'nop', 'nope'):
      return False
    retries = retries - 1
    if retries < 0:
      raise ValueError('invalid user response')
    print(reminder)
ask_ok('Do you really want to quit?')

Do you really want to quit?y

True

In [83]:
def f(arg=i):
  print(arg)

i = 6
f()

4

In [85]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

def f(a, L=None):
  if L is None:
      L = []
  L.append(a)
  return L

[1]
[1, 2]
[1, 2, 3]

In [130]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

parrot(1)                     # required argument missing
parrot(voltage=5, state='dead')  # non-keyword argument after a keyword argument
parrot(state=110, voltage=220)     # duplicate value for the same argument
parrot(voltage='John Cleese')  # unknown keyword argument

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !
-- This parrot wouldn't voom if you put 1 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 5 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's dead !
-- This parrot wouldn't voom if you put 220 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's 110 !
-- This parrot wouldn't voom if you put John Cleese volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [0]:
def function(a):
  pass
function(0)
function(a=0)

In [137]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [148]:
def standard_arg(arg):
  print(arg)
standard_arg(2)
standard_arg(arg=2)

def pos_only_arg(arg, /):
  print(arg)
pos_only_arg(1)
pos_only_arg(arg=1)
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: pos_only_arg() got an unexpected keyword argument 'arg'

def kwd_only_arg(*, arg):
  print(arg)
kwd_only_arg(3)
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given
kwd_only_arg(arg=3)

def combined_example(pos_only, /, standard, *, kwd_only):
  print(pos_only, standard, kwd_only)
combined_example(1, 2, 3)
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: combined_example() takes 2 positional arguments but 3 were given
combined_example(1, 2, kwd_only=3)
combined_example(1, standard=2, kwd_only=3)
combined_example(pos_only=1, standard=2, kwd_only=3)
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: combined_example() got an unexpected keyword argument 'pos_only'

SyntaxError: ignored

In [0]:
def foo(name, **kwds):
  return 'name' in kwds

foo(1, **{'name': 2})
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: foo() got multiple values for argument 'name'

def foo(name, /, **kwds):
    return 'name' in kwds
foo(1, **{'name': 2})

In [0]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [154]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")

concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [155]:
list(range(3, 6))            # normal call with separate arguments

args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [158]:
def parrot(voltage, state='a stiff', action='voom'):
  print("-- This parrot wouldn't", action, end=' ')
  print("if you put", voltage, "volts through it.", end=' ')
  print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [159]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

f(1)

43

In [160]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [161]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [162]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [175]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

fruits.count('tangerine')

fruits.index('banana')

fruits.index('banana', 4)  # Find next banana starting a position 4

fruits.reverse()
fruits

fruits.append('grape')
fruits

fruits.sort()
fruits

fruits.pop()

'pear'

In [176]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

stack.pop()

stack

stack.pop()

stack.pop()

stack

[3, 4]

In [177]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [181]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

squares = list(map(lambda x: x**2, range(10)))

squares = [x**2 for x in range(10)]

[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [182]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [190]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

# apply a function to all the elements
[abs(x) for x in vec]

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

# the tuple must be parenthesized, otherwise an error is raised
#[x, x**2 for x in range(6)]

# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [193]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [194]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [201]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

IndentationError: ignored

In [196]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [0]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

del a[2:4]
a

del a[:]
a
del a

In [206]:
t = 12345, 54321, 'hello!'
t[0]

t

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

# Tuples are immutable:
t[0] = 88888

# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

TypeError: ignored

In [207]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

len(singleton)

singleton

('hello',)

In [0]:
x, y, z = t

In [209]:
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing
'crabgrass' in basket

# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

a = {x for x in 'abracadabra' if x not in 'abc'}
a

NameError: ignored

In [213]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)

sorted(tel)

'guido' in tel

'jack' not in tel

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{x: x**2 for x in (2, 4, 6)}

dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [214]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [215]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [216]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [217]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [218]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [219]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [220]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [221]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True